{% extends "website/base.html" %}
{% block title %}Jeux{% endblock %}
{% block content %}
<h2>Liste des jeux</h2>
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>
<div class="container">
    <div class="row">
        {% for game in filter.qs %}
        <div class="col">
            <p>{{game.title}}</p>
            {% load static %}
            <img class="cropped center widthGames" src="{% static 'website/img/' %}{{ game.img }}"/>
            {% if user.id %}
            {% if game in favoriteGames %}
            <a href="{% url 'addFavorite' user.id game.id %}"><i class="fa fa-heart"></i></a>
            {% else %}
            <a href="{% url 'addFavorite' user.id game.id %}"><i class="far fa-heart"></i></a>
            {% endif %}
            {% endif %}

        </div>
        {% empty %}
        <p>Aucun jeu.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}