{% extends "website/base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}

<h2>Connexion</h2>
{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}
{% if user.is_authenticated %}
Vous êtes connecté, {{ user.username }} !
{% else %}
<form method="post" action=".">
    {% csrf_token %}
    <div class="form-group centered-input">
        <div class="col-sm-6">
            {{ form.as_p }}
        </div>
    </div>

    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Se connecter">
    </div>
</form>
{% endif %}
{% endblock %}

