{% extends "website/base.html" %}
{% block title %}Jeux{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if user.id %}
        {% for game in favoriteGames %}
        <div class="col">
            <p>{{game.title}}</p>
            {% load static %}
            <a href="{% url 'gamesDetails' game.id %}">
                <img class="cropped center widthGames" src="{% static 'website/img/' %}{{ game.img }}"/>
            </a>
            {% if game in favoriteGames %}
            <a href="{% url 'addFavorite' user.id game.id %}"><i class="fa fa-heart"></i></a>
            {% else %}
            <a href="{% url 'addFavorite' user.id game.id %}"><i class="far fa-heart"></i></a>
            {% endif %}
            <form action="{% url 'search_results' %}" method="get">
                <input type="hidden" type="search" name="q" placeholder="Search" value="{{game.title}}">
                <button class="btn btn-primary" type="submit">Suivre l'actualité</button>
            </form>
            {% empty %}
            <p>Aucun jeu dans votre liste de suivi</p>
            {% endfor %}
        </div>
        {% else %}
        <p>Veuillez vous connectez</p>

        {% endif %}
    </div>
</div>

{% endblock %}