body {
    background-color: #051046;
    color: #d4d4d4;
}

footer {
    position: absolute;
    bottom: 0;
}

h2 {
    text-align: center;
    padding-bottom: 1em;
}

.bg-light {
    background-color: #dedede!important;
}

#content {
    padding-top: 2em;
    margin: 0 3em;
}

.centered-input {
    display: flex;
    align-items: center;
    justify-content: center;
}