body {
    background-color: #051046;
    color: #d4d4d4;
}

footer {
    bottom: 0;
}

h2 {
    text-align: center;
    padding-bottom: 1em;
}

.bg-light {
    background-color: #dedede!important;
}

#content {
    padding-top: 2em;
    margin: 0 3em;
}

.centered-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.widthGames {
    width: 300px;
    height: 200px;
}
  
.cropped {
    object-fit: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label[for="id_category"] {
    display: none
}

button#buttonFilter {
    position: absolute;
    margin: -41px 0px 0px 148px;
    border-radius: 25px;
    border: 1px solid #dedede;
    font-size: 14px;
}

#id_category {
    border-radius: 6px;
    border: 2px solid #dedede;
}

#user-connection {
    height: 46px;
    line-height: 46px;
    margin-right: 17px;
}